body{
  background-image: url('Illustration.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.icons{
  position: fixed;
  bottom: 3%; 
  left: 65%;      
}

.icon_img{
  width: 200px;
  height: 259px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.icon_img:hover{
  transform: scale(1.1);
}