<<<<<<< HEAD
body{
  background-image: url('Illustration.jpg');
  /*background-size: cover;
=======
body {
  background-image: url("Images/Background.png");
  background-size: cover;
>>>>>>> ad588cd82eb575a8b4d7b4c93fab7540187d758e
  background-repeat: no-repeat;
<<<<<<< HEAD
  background-attachment: static;
  background-position: center;*/
=======
  background-attachment: fixed;
  background-position: center;

  min-height: 100vh; /* ensures full page height */
  min-width: 100vw;
  display: flex;
  flex-direction: column;
>>>>>>> ad588cd82eb575a8b4d7b4c93fab7540187d758e
}

.icons {
  /*position: fixed;*/
  bottom: 3%;
  left: 65%;
}

.icon_img {
  /* width: 200px;
  height: 259px; */
  width: 300px;
  height: 388.5px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.icon_img:hover {
  transform: scale(1.1);
  filter: brightness(1.1);
}

#social_bison {
  position: absolute;
  top: 470px;
  right: 400px;
}
#search_bison {
  position: absolute;
  top: 450px;
  right: 20px;
}
#clubs_bison {
  position: absolute;
  top: 460px;
  right: 700px;
}
#calendar_bison {
  position: absolute;
  top: 470px;
  right: 1100px;
}
