body {
  background-image: url("Images/Background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  min-width: 100vw;
  overflow: hidden;
}

.bison-grid {
  position: absolute;
  bottom: 3%;
  width: 100%;
  display: grid;
  grid-template-columns:
    0.8fr
    0.8fr
    2fr
    0.8fr
    0.8fr;
  align-items: end;
  text-align: center;
}

.bison-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
}

.bison-img {
  width: 20vw;
  height: auto;
  cursor: pointer;
  transition: transform 0.3s ease;
  display: block;
  margin: 0 auto;
  position: relative;
  top: 80px;
}

#calendar-bison {
  position: relative;
  top: 105px;
}

#clubs-bison {
  position: relative;
  top: 100px;
}
#social-bison {
  position: relative;
  top: 105px;
}
#search-bison {
  position: relative;
  top: 75px;
}

.bison-img:hover {
  transform: scale(1.1);
  filter: brightness(1.1);
}

.bison-label {
  margin-top: 15px;
  font-size: 25px;
  font-weight: 700;
  color: #ffffff;
  font-family: "Arial", sans-serif;
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.7), 0 0 12px rgba(255, 255, 255, 0.3);
  letter-spacing: 1px;
}
